html {
  background-color: #181a1b !important;
}

html,
body,
input,
textarea,
select,
button {
  background-color: #181a1b;
  border-color: #736b5e;
  color: #e8e6e3;
}

a {
  color: #3391ff;
}

table {
  border-color: #545b5e;
}

::placeholder {
  color: #b2aba1;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #555b00 !important;
  color: #e8e6e3 !important;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}

::-webkit-scrollbar-thumb:active {
  background-color: #484e51;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::selection {
  background-color: #004daa !important;
  color: #e8e6e3 !important;
}

::-moz-selection {
  background-color: #004daa !important;
  color: #e8e6e3 !important;
}

.jfk-bubble.gtx-bubble,.captcheck_answer_label > input + img,span#closed_text > img[src^="https://www.gstatic.com/images/branding/googlelogo"],span[data-href^="https://www.hcaptcha.com/"] > #icon,#bit-notification-bar-iframe
{
  filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}

:root {
  --darkreader-neutral-background: #131516;
  --darkreader-neutral-text: #d8d4cf;
  --darkreader-selection-background: #004daa;
  --darkreader-selection-text: #e8e6e3;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-color: initial;
}

abbr[title] {
  border-bottom-color: initial;
}

mark {
  background-image: initial;
  background-color: #cc0;
  color: #e8e6e3;
}

img {
  border-color: initial;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
}

fieldset {
  border-color: #42474a;
}

legend {
  border-color: initial;
}

body {
  background-color: #181aff;
  color: #c8c3bc;
}

.w-button {
  background-color: #1060a6;
  color: #e8e6e3;
  border-color: initial;
  text-decoration-color: initial;
}

html[data-w-dynpage] [data-w-cloak] {
  color: transparent !important;
}

.w-webflow-badge,
.w-webflow-badge * {
  border-color: transparent;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  color: inherit;
  text-decoration-color: inherit;
  text-shadow: none;
}

.w-webflow-badge {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 1px 3px;
  color: #b4aea4 !important;
  background-color: #181a1b !important;
  text-decoration-color: initial !important;
}

blockquote {
  border-left-color: #383d3f;
}

.w-list-unstyled {
  list-style-image: initial;
}

fieldset {
  border-color: initial;
}

button,
html input[type="button"],
input[type="reset"] {
  border-color: initial;
}

.w-form-done {
  background-color: #2b2f31;
}

.w-form-fail {
  background-color: #470000;
}

.w-input,
.w-select {
  color: #c8c3bc;
  background-color: #181a1b;
  border-color: #3e4446;
}

.w-input::-webkit-input-placeholder,
.w-select::-webkit-input-placeholder {
  color: #a8a095;
}

.w-input:focus,
.w-select:focus {
  border-color: #0f5899;
  outline-color: initial;
}

.w-input[disabled],
.w-select[disabled],
.w-input[readonly],
.w-select[readonly],
fieldset[disabled] .w-input,
fieldset[disabled] .w-select {
  background-color: #222426;
}

.w-select {
  background-color: #1f2123;
}

.w-file-upload-default,
.w-file-upload-uploading,
.w-file-upload-success {
  color: #c8c3bc;
}

.w-file-upload-uploading-btn {
  border-color: #3e4446;
  background-color: #1b1d1e;
}

.w-file-upload-file {
  border-color: #3e4446;
  background-color: #1b1d1e;
}

.w-file-upload-error-msg {
  color: #eb4658;
}

.w-file-upload-label {
  border-color: #3e4446;
  background-color: #1b1d1e;
}

.w-widget-twitter-count-shim {
  background-image: initial;
  background-color: #181a1b;
  border-color: #52595d;
}

.w-widget-twitter-count-shim .w-widget-twitter-count-inner {
  color: #a8a095;
}

.w-widget-twitter-count-shim:not(.w--vertical)::before,
.w-widget-twitter-count-shim:not(.w--vertical)::after {
  border-color: transparent;
}

.w-widget-twitter-count-shim:not(.w--vertical)::before {
  border-color: rgba(82, 89, 93, 0) #686156 rgba(82, 89, 93, 0)
    rgba(82, 89, 93, 0);
}

.w-widget-twitter-count-shim:not(.w--vertical)::after {
  border-color: rgba(48, 52, 54, 0) #303436 rgba(48, 52, 54, 0)
    rgba(48, 52, 54, 0);
}

.w-widget-twitter-count-shim.w--vertical::before,
.w-widget-twitter-count-shim.w--vertical::after {
  border-color: transparent;
}

.w-widget-twitter-count-shim.w--vertical::before {
  border-color: #686156 rgba(82, 89, 93, 0) rgba(82, 89, 93, 0);
}

.w-widget-twitter-count-shim.w--vertical::after {
  border-color: #303436 rgba(48, 52, 54, 0) rgba(48, 52, 54, 0);
}

.w-background-video {
  color: #e8e6e3;
}

.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  text-decoration-color: initial;
  color: #d3cfc9;
}

.w-dropdown-toggle:focus {
  outline-color: initial;
}

.w-dropdown-list {
  background-image: initial;
  background-color: #2b2f31;
}

.w-dropdown-link {
  color: #d3cfc9;
}

.w-dropdown-link.w--current {
  color: #3aa9ff;
}

.w-dropdown-link:focus {
  outline-color: initial;
}

.w-lightbox-backdrop {
  list-style-image: initial;
  text-shadow: none;
  color: #e8e6e3;
  background-image: initial;
  background-color: rgba(0, 0, 0, 0.9);
  outline-color: initial;
  -webkit-tap-highlight-color: transparent;
}

.w-lightbox-caption {
  background-image: initial;
  background-color: rgba(0, 0, 0, 0.4);
}

.w-lightbox-left {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yMCAwIDI0IDQwIiB3aWR0aD0iMjQiIGhlaWdodD0iNDAiPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1KSI+PHBhdGggZD0ibTAgMGg1djIzaDIzdjVoLTI4eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDN2MjNoMjN2M2gtMjZ6IiBmaWxsPSIjZmZmIi8+PC9nPjwvc3ZnPg==);
}

.w-lightbox-right {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMjQgNDAiIHdpZHRoPSIyNCIgaGVpZ2h0PSI0MCI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMC0waDI4djI4aC01di0yM2gtMjN6IiBvcGFjaXR5PSIuNCIvPjxwYXRoIGQ9Im0xIDFoMjZ2MjZoLTN2LTIzaC0yM3oiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+);
}

.w-lightbox-close {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMTggMTciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNyI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMCAwaDd2LTdoNXY3aDd2NWgtN3Y3aC01di03aC03eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDd2LTdoM3Y3aDd2M2gtN3Y3aC0zdi03aC03eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=);
}

.w-lightbox-thumbnail {
  background-image: initial;
  background-color: #1a1c1d;
}

.w-lightbox-spinner {
  border-color: rgba(140, 130, 115, 0.4);
}

.w-lightbox-spinner::after {
  border-color: transparent transparent #303436;
}

.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-video div::after,
.w-richtext .w-richtext-figure-selected[data-rt-type="video"] div::after {
  outline-color: #0659a3;
}

.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-image div,
.w-richtext .w-richtext-figure-selected[data-rt-type="image"] div {
  outline-color: #0659a3;
}

.w-richtext figure div {
  color: transparent;
}

.w-nav {
  background-image: initial;
  background-color: #2b2f31;
}

.w-nav-brand {
  text-decoration-color: initial;
  color: #c8c3bc;
}

.w-nav-link {
  text-decoration-color: initial;
  color: #d3cfc9;
}

.w-nav-link.w--current {
  color: #3aa9ff;
}

[data-nav-menu-open] {
  background-image: initial;
  background-color: #373c3e;
}

.w-nav-button {
  -webkit-tap-highlight-color: rgba(232, 230, 227, 0);
}

.w-nav-button:focus {
  outline-color: initial;
}

.w-nav-button.w--open {
  background-color: #373c3e;
  color: #e8e6e3;
}

.w-tab-link {
  text-decoration-color: initial;
  color: #d3cfc9;
  background-color: #2b2f31;
  border: 1px solid #131516;
}

.w-tab-link.w--current {
  background-color: #373c3e;
}

.w-tab-link:focus {
  outline-color: initial;
}

.w-dyn-empty {
  background-color: #2b2f31;
}

body {
  background-color: #212325;
  color: #9a9184;
}

h2 {
  color: #a49c90;
}

h3 {
  color: #a49c90;
}

h5 {
  color: #a49c90;
}

.button {
  border-color: #34393b;
  background-color: #003153;
  color: #F9F6EE;
  text-decoration-color: initial;
  transition: background-color 2s;
}

.button:hover {
  background-color: #0372d5;
}

.button:active {
  background-color: #004b8d;
}

.button.w--current {
  background-color: #256692;
}

.button.tab {
  background-color: #47535f;
}

.button.tab:hover {
  background-color: #256692;
}

.button.tab.w--current {
  background-color: #256692;
}

* {
  transition: all 0.8s ease-in-out;
  will-change: all;
}

.navigation-link {
  color: #a49c90;
}

.navigation-link:hover {
  color: #3aa9ff;
}

.navigation-bar {
  background-color: #181a1b;
  box-shadow: #000 1px 1px 12px 0;
}

.brand-text {
  color: #F9F6EE;
}

.section {
  background-color: #181a1b;
}

.section.accent {
  background-color: #181818;
}

.white-box {
  border-color: #153d5e;
  background-color: #181a1b;
}

.white-box.transparent {
  background-color: transparent;
}

.hero-section {
  padding-top: 128px;
  padding-bottom: 128px;
  transition: background 2s;
  background-image: url("../images/backgrounds/about-bkg-dark.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


.hero-section.centered {
  border-bottom-color: #181a1b;
  background-image: url(../images/backgrounds/iris-bkg-dark.webp);
  box-shadow: #000 1px 1px 12px 0 inset;
  transition: all 2s;
}

.hero-heading {
  color: #F9F6EE;
  transition: all 2s;
  text-shadow: 1px 1px 10px black;
}

.hero-subheading {
  color: #F9F6EE;
  text-shadow: 1px 1px 10px black;
}

.hollow-button {
  color: #e8e6e3;
  text-decoration-color: initial;
}

.hollow-button:hover {
  border-color: #0057a5;
  color: #3aa9ff;
}

.section-heading.centered {
  color: #63bbff;
}

.section-heading.centered.white {
  color: #63bbff;
}

.section-subheading.center.off-white {
  color: #c2bcb4;
}

.form-field {
  border-color: #8c8273;
  box-shadow: rgba(51, 55, 57, 0.3) 0 0 0 1px;
}

.footer {
  background-color: #181818;
}

.footer.center {
  border-top-color: #3a3f41;
  background-color: #181818;
}

.footer-text {
  color: #aba398;
}

.grid-image {
  border-color: #181a1b;
  background-color: #004b8d;
  box-shadow: #003153 0 0 0 1px;
  transition: all 0.8s;
}

.footer-link {
  border-bottom-color: #3a3f42;
  color: #7398b4;
  text-decoration-color: initial;
}

.footer-link:hover {
  color: rgba(51, 167, 255, 0.84);
}

.fullwidth-image {
  box-shadow: #000 4px 4px 4px 0;
}

.fullwidth-image.slides {
  box-shadow: none;
}

.white-text {
  color: #e8e6e3;
}

.body {
  background-color: #212325;
}

.body-2 {
  background-color: #2a2e2f;
}

.navigation-link-button {
  background-color: #003153;
  color: #dedbd7;
}

.navigation-link-button:hover {
  color: #9fd5ff;
}

.navigation-link-button:active {
  background-color: #004b8d;
  color: #dedbd7;
}

.navigation-link-button.w--current {
  background-color: #003153;
  color: #dedbd7;
}

.big-button {
  background-color: #003153;
  color: #e8e6e3;
  text-decoration-color: initial;
}

.big-button:hover {
  background-color: #003153;
}

.big-button:active {
  background-color: #004b8d;
}

.big-button.w--current {
  background-color: #256692;
}

.big-button.tab {
  background-color: #47535f;
}

.big-button.tab:hover {
  background-color: #256692;
}

.big-button.tab.w--current {
  background-color: #256692;
}

.button-right {
  border-color: #34393b;
  background-color: #003153;
  color: #e8e6e3;
  text-decoration-color: initial;
}

.button-right:hover {
  background-color: #003153;
}

.button-right:active {
  background-color: #004b8d;
}

.button-right.w--current {
  background-color: #256692;
}

.button-right.tab {
  background-color: #47535f;
}

.button-right.tab:hover {
  background-color: #256692;
}

.button-right.tab.w--current {
  background-color: #256692;
}

.paragraph-7 {
  color: #c2bcb4;
}

.heading-4 {
  color: #dedbd7;
}

.heading-5 {
  color: #dedbd7;
}

.paragraph-8 {
  color: #c2bcb4;
}

.paragraph-9 {
  color: #c2bcb4;
}

.heading-6 {
  color: #dedbd7;
}

.section-subheading-light.center {
  color: #c2bcb4;
}

.section-subheading-light.center.off-white {
  color: #d9d6d1;
}

.right-floatbutton {
  border-color: #34393b;
  background-color: #003153;
  color: #e8e6e3;
  text-decoration-color: initial;
}

.right-floatbutton:hover {
  background-color: #003153;
}

.right-floatbutton:active {
  background-color: #004b8d;
}

.right-floatbutton.w--current {
  background-color: #256692;
}

.right-floatbutton.tab {
  background-color: #47535f;
}

.right-floatbutton.tab:hover {
  background-color: #256692;
}

.right-floatbutton.tab.w--current {
  background-color: #256692;
}

.rich-text-block {
  color: #7398b4;
  text-decoration-color: initial;
}

.paragraph-11 {
  color: #c2bcb4;
}

.paragraph-12 {
  color: #c2bcb4;
}

.slider {
  box-shadow: #000 5px 5px 7px 0;
}

.text-block-slides-light {
  background-color: transparent;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0));
  color: #dedbd7;
}

.text-block-5 {
  color: #c2bcb4;
}

.text-block-7 {
  color: #dedbd7;
}

.download-button {
  border-color: #34393b;
  background-color: #003153;
  color: #e8e6e3;
  text-decoration-color: initial;
}

.download-button:hover {
  background-color: #003153;
}

.download-button:active {
  background-color: #004b8d;
}

.download-button.w--current {
  background-color: #256692;
}

.download-button.tab {
  background-color: #47535f;
}

.download-button.tab:hover {
  background-color: #256692;
}

.download-button.tab.w--current {
  background-color: #256692;
}

#theme-switcher {
  color: #a49c90;
}

@media screen and (max-width: 1105px) {
  .navigation-link {
    color: rgba(232, 230, 227, 0.52);
  }

  #theme-switcher {
    color: #e8e6e3;
  }

  .navigation-link.w--current {
    color: #e8e6e3;
  }

  .hamburger-button.w--open {
    background-color: #1f6ca0;
  }

  .navigation-menu {
    background-color: #1f6ca0;
  }

  .navigation-link-button {
    color: rgba(232, 230, 227, 0.52);
  }

  .navigation-link-button.w--current {
    color: #e8e6e3;
  }
}

@media screen and (max-width: 479px) {
  .fullwidth-image {
    border-color: #8c8273;
  }

  .fullwidth-image-tabs {
    border-color: #8c8273;
  }
}

.info-icon {
  filter: grayscale(1) invert(1);
}

#w-tabs-0-data-w-tab-0,
#w-tabs-0-data-w-tab-1 {
  border: none;
}
