---

---

<footer class="footer bg-neutral text-neutral-content p-10 flex">
    <div class="flex-1">
        <h1 class="footer-title">About the Iris Project</h1>
        <p>The Iris Project is a collaborative open-source project created by a team of passionate developers seeking to make the Minecraft shaders experience the best that it can be. Iris is developed by the community, for the community.</p>
    </div>
    <nav class="flex-1">
        <h1 class="footer-title">Useful Links</h1>
        <ul class="list-disc">
            <li><a class="link link-hover" href="https://shaders.properties">Developer Documentation</a></li>
            <li><a class="link link-hover" href="https://modrinth.com/mod/iris">Iris on Modrinth</a></li>
        </ul>
    </nav>
    <nav class="flex-1">
        <h1 class="footer-title">Social</h1>
        <ul class="list-disc">
            <li><a class="link link-hover" href="https://github.com/IrisShaders/Iris">GitHub</a></li>
            <li><a class="link link-hover" href="https://discord.gg/jQJnav2jPu">Discord</a></li>
            <li><a class="link link-hover" href="https://x.com/IrisShaders">X</a></li>
        </ul>
    </nav>
</footer>